<!doctype html>
<head>
<title>Tweets</title>
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
<link href='/static/temp.css' rel='stylesheet' type='text/css'>
</head>
</body>
<div class="temperature">
<h1>(국)통이 현재 온도(Current Temperature):</h1>
<p><span id="temp">
{{temperature}}
</span>
<sup id="deg">&deg;C</sup></p>
<!-- <h2>Design from <a href=\"http://twitter.com/superhighfives\">superhighfives</a></h2></p> -->
<h2>(국)통이 <a href="http://twitter.com/seeoh_tong2">@seeoh_tong2</a></h2></p>
</div></body></html>
